.establishmentSortContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 330px;
    height: 110px;
    color: #520974;
    border: 2px solid #520974;
    border-radius: 20px;
    align-items: center;
}

.establishmentSortContainer h3 {
    font-weight: 400;
    font-size: 28px;
    padding: 0;
    margin: 5px 0;
}

.establishmentSortButtonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 310px;
}

.establishmentSortButtonContainer select {
    color: #520974;
    border: 2px solid #520974;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    font-size: 24px;
}

.establishmentSortButtonContainer select:hover,
.establishmentSortButtonContainer select:focus {
    outline: none;
}

.establishmentSortButtonContainer button {
    height: 50px;
    width: 50px;
    color: #520974;
    border: 2px solid #520974;
    border-radius: 5px;
    background-color: white;
    font-size: 28px;
    transition: 0.5s;
}

.establishmentSortButtonContainer button:hover,
.establishmentSortButtonContainer button:focus {
    color: white;
    background-color: #520974;
    font-weight: bold;
    transition: 0.5s;
    outline: none;
}